<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <h1></h1>

    <ul>
        <% livros.forEach((livro, index) => { %>
          <li>
            <!-- Exibir a capa do livro se estiver disponível -->
            <% if (livro.capa) { %>
              <img src="/uploads/<%= livro.capa %>" alt="Capa do Livro" style="width: 160px; height: 256px;">
              <div class="book-container">
                <p><strong>Título:</strong> <%= livro.titulo %></p>
                <p><strong>Autor:</strong> <%= livro.autor %></p>
                <p><strong>Ano de Publicação:</strong> <%= livro.anoPublicacao %></p>
                <div class="actions">
                  <form action="/editar/<%= livro.id %>" method="get" style="display:inline;">
                    <button type="submit">Editar</button>
                  </form>
                  <form action="/apagar/<%= livro.id %>" method="post" style="display:inline;">
                    <button type="submit">Apagar</button>
                  </form>
                </div>
              </div>
            <% } %>
          </li>
        <% }); %>
    </ul>

</body>
</html>